<div class="card-deck col-12">
  <div class="card col-3 example-container">
    <h5 class="card-title">Linhas</h5>
    <div
      id="dimensoesIn"
      cdkDropList
      [cdkDropListData]="dimensoesIn"
      cdkDropListConnectedTo="dimensoesOut"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
        <div
          class="example-box"
          *ngFor="let dim of dimensoesIn"
          cdkDrag
          [cdkDragData]="dim">{{dim}}</div>
    </div>
  </div>
  <div class="card col-3 example-container">
      <h5 class="card-title">Colunas</h5>
  </div> 
  <div class="card col-3 example-container">
    <h5 class="card-title">Métricas</h5>
    <div
      id="metricasin"
      cdkDropList
      [cdkDropListData]="metricasIn"
      cdkDropListConnectedTo="metricasout"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let metrica of metricasIn"
        cdkDrag
        [cdkDragData]="metrica">{{metrica}}</div>
    </div>
  </div>
  <div class="card col-3 example-container">
      <h5 class="card-title">Filtros</h5>
  </div>
</div>
<div class="row">
<div id="table-section" class="col-9">
  <div id="tabela" class="table table-striped table-hover">
  </div>
</div>
<div class="col-1"></div>
<div id="outs-teste" class="col-2">
    <div class="example-container row">
      <h4>Métricas</h4>
      <div 
        id="metricasout"
        cdkDropList
        [cdkDropListData]="metricasOut"
        cdkDropListConnectedTo="metricasin"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let metrica of metricasOut"
        [cdkDragData]="metrica"
        cdkDrag>{{metrica}}</div>
      </div>
   </div>
    <div class="example-container row">
      <h4>Dimensões</h4>
      <div
        id="dimensoesOut"
        cdkDropList
        [cdkDropListData]="dimensoesOut"
        cdkDropListConnectedTo="dimensoesIn"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
          <div
            class="example-box"
            *ngFor="let dim of dimensoesOut"
            [cdkDragData]="dim"
            cdkDrag>{{dim}}</div>
        </div>
    </div> 
  </div>
</div>
<div class="row">
  <div id="trigger-charts" class="col-9">
    <div id="charts">
        <canvas baseChart [datasets]="chartData" [labels]="aggregator.barChartLabels" [options]="aggregator.barChartOptions" [legend]="aggregator.barChartLegend"
            [chartType]="aggregator.barChartType" [colors]="aggregator.barChartColors"></canvas>
    </div>   
    <div id="available-charts">
      <div>
        <fa-icon (click)="changeToBarChart()" [icon]="faChartBar"></fa-icon>
      </div>
      <div>
        <fa-icon (click)="changeToLineChart()" [icon]="faChartLine"></fa-icon>
      </div>
      <div>
        <fa-icon (click)="changeToAreaChart()" [icon]="faChartArea"></fa-icon>
      </div>
    </div> 
  </div>
</div>
<div>
  <div id="chart" style="display: block">
    <canvas baseChart [datasets]="dataAtdTime" [options]="atdOptions"
        [chartType]="atdTypeChart" ></canvas>
  </div> 
</div>